#launch.json folder
.vscode/
# MacOS system files
.DS_Store
win/bin/bitcoin-cli.exe
win/bin/bitcoin-qt.exe
win/bin/bitcoin-tx.exe
win/bin/bitcoin-util.exe
win/bin/bitcoin-wallet.exe
win/bin/bitcoin.exe
win/bin/bitcoind.exe
win/bin/electrum.exe
