# Electrum data .gitignore

# macOS artifacts
._*
.DS_Store

# Windows artifacts
ehthumbs.db
Thumbs.db

# Temporary files
*.tmp

# Electrum runtime artifacts
/blockchain_headers
/cache/
/certs/
/daemon
/forks/
/plugins/
/recent_servers
/config
/testnet/
/regtest/
