anchors.dat
banlist.json
blocks/
chainstate/
debug.log
fee_estimates.dat
indexes/
mempool.dat
peers.dat
settings.json
wallets/
testnet3/
testnet4/
regtest/

# macOS artifacts
._*
.DS_Store
/.cookie
/.lock
/bitcoind.pid
